{% extends 'base.html' %}

{% block title %}资源推荐{% endblock %}

{% block content %}
<div class="input-container" style="display: flex; align-items: center; justify-content: space-between;">
    
    <div id="refresh-history-container">        
        <span id="refresh-span" style="font-size: 18px; ">
            <span style="margin-right: 5px;">刷新资源</span>
            <i id="refresh-icon" class="fa-solid fa-rotate-right"  style="font-size: 18px;"></i>
        </span>
        
    </div>
</div>
    <div id="status"></div>
    <div id="recommend-history"></div>
{% endblock %}

{% block extra_js %}
    <script>
        // 渲染到 HTML 页面
        function renderRecommendations(recommendations, containerId='recommend-history') {
            const container = document.getElementById(containerId);
            container.innerHTML = ''; // 清空内容

            if(!Array.isArray(recommendations)) recommendations = recommendations["recommendations"]
            recommendations.forEach(item => {
                const recommendationElement = document.createElement('a');
                recommendationElement.classList.add('course-card');
                recommendationElement.href = item.url;
                recommendationElement.target = '_blank';
                recommendationElement.innerHTML = `
                    <h3><a href="${item.url}" target="_blank">${item.title}</a></h3>
                    <p>${item.reason}</p>
                `;
                container.appendChild(recommendationElement);
            });
        }

        // 获取知识推荐。如果subject和object中有布尔值为0的参数（如null），则根据历史记录获取推荐。
        function getRecommendations(subject=null, chapter=null) {
            const url = (subject && chapter) ? `req/${subject}/${chapter}` : '/recommend/history';
            // 更新status
            const statusElement = document.getElementById("status");
            statusElement.textContent = '正在更新资源推荐...';

            fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error: ${response.status}`);
                }
                return response.text();
            })
            .then(res => {
                // 存入localStorage
                window.localStorage.setItem("recommend-content", res);
                // 替换单双引号后解析
                const recommendations = JSON.parse(res.replaceAll("'", '"'));
                {#console.log(recommendations)#}
                // 渲染
                renderRecommendations(recommendations);
            })
            .catch(error => console.error('Error loading recommendations:', error))
            .finally(()=>statusElement.textContent = '');
        }

         // 为刷新按钮添加点击事件监听器;默认的是刷新历史推荐.
         document.addEventListener('DOMContentLoaded', function() {
            const refreshIcon = document.getElementById('refresh-icon');
            const refreshSpan = document.getElementById('refresh-span');
        
            refreshSpan.addEventListener('click', function() {
                refreshIcon.classList.add('rotating');
                getRecommendations();
            });
        
            refreshSpan.addEventListener('animationend', function() {
                refreshIcon.classList.remove('rotating');
            });

    
        });


        // 页面打开时自动更新资源推荐
        window.onload = () => {
            // 以上次的推荐结果暂时填充
            const recommendContent = window.localStorage.getItem("recommend-content");
            //renderRecommendations(JSON.parse(recommendContent.replaceAll("'", '"'))["recommendations"]);
            if (recommendContent) {
                try {
                    renderRecommendations(JSON.parse(recommendContent.replaceAll("'", '"'))["recommendations"]);
                } catch (error) {
                    console.error('Error parsing local storage data:', error);
                }
            }



            // 上次加载时间
            const lastLoadTime = window.localStorage.getItem("recommend-load-time");
            // 现在时间
            const nowTime = new Date().getTime();

            if (lastLoadTime) {
                const distance = nowTime - parseInt(lastLoadTime, 10);
                // 如果时间间隔小于10分钟（600000），则不加载
                if (distance < 600000) {
                    console.log("资源推荐已在10分钟内加载过，不自动重复加载");
                    return;
                }
            }
            // 更新本次加载时间
            window.localStorage.setItem("recommend-load-time", nowTime.toString());
            // 触发资源推荐更新的逻辑
            getRecommendations()
        }
    </script>
{% endblock %}

{% block extra_css %}
<!-- 引入 Font Awesome 图标库 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<style>
    body {
        margin: 0;
        padding: 0;
    }

    h3 {
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        color: #555;
        margin-bottom: 0;
    }

    a {
        color: #1a73e8;
        text-decoration: none;
        transition: all 0.3s ease;
    }

    a:hover {
        color: #4285f4;
        
    }

    .recommend-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
    }

    .course-card {
        padding: 20px;
        width: 100%;
        border-radius: 12px;
        margin-bottom: 16px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        transition: transform 0.3s ease;
        display: block;
        text-decoration: none;
        color: inherit;
    }

    .course-card h3 a {
        color: #1a73e8;
        text-decoration: none;
        transition: all 0.3s ease;
    }

    .course-card:hover {
        transform: translateY(-4px);
    }

    #status {
        color: #808080; /* 灰色 */
        text-align: center; /* 居中显示 */
    }

    /* 输入框和按钮样式 */
    .input-container {
        margin-top: 20px;
    }

    .input-container input,
    .input-container button {
        padding: 10px;
        margin-right: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-bottom: 16px;
    }


    .input-container button {
        background-color: #0d6efd;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .input-container button:hover {
        background-color: #4285f4;
    }

    .input-container input:focus {
        outline: none;
        border-color: #808080; 
        box-shadow: 0 0 3px rgba(128, 128, 128, 0.5);
    }

    /* 刷新按钮样式 */
    .rotating {
        display: inline-block;
        animation-name: rotating;
        animation-duration: 1s;
        animation-iteration-count: 1;
    }
      @keyframes rotating {
          from { transform: rotate(0deg);}
          to { transform: rotate(360deg);}
    }
    #refresh-span {
        color: #808080;
        cursor: pointer;
        margin-right: 10px;
        transition: color 0.3s ease;
    }
    #refresh-span :hover {
        color: #4285f4;
    }

      
    /* 历史记录样式 */
    #history-record {
        color: #808080;
        cursor: pointer;
        margin-right: 10px;
        transition: color 0.3s ease;
    }

    #history-record:hover {
        color: #4285f4;
    }

    /* 弹窗样式 */
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        border-radius: 12px;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    /* 响应式设计 */
    @media (max-width: 600px) {
        .course-card {
            padding: 12px;
        }
        h3 {
            font-size: 18px;
        }
    }
</style>
{% endblock %}
